In [1]:
# Se importan las librerias que seran utilizadas 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast
import json

In [2]:
# Carga de datos desde un archivo JSON y crea un DataFrame en pandas

filas = []

with open('australian_users_items.json', encoding="utf8") as l:
    for linea in l.readlines():
        filas.append(ast.literal_eval(linea))

df = pd.DataFrame(filas)

In [86]:
# Se Verifica la cantidad de registros y en cuantas columnas esta dividido
df.shape

(88310, 5)

In [87]:
# Se hace una revision de los primeros valores cargados
df.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [85]:
# Carga de datos desde un archivo JSON y crea un DataFrame en pandas

filas = []

with open('australian_user_reviews.json', encoding="utf8") as l:
    for linea in l.readlines():
        filas.append(ast.literal_eval(linea))

df2 = pd.DataFrame(filas)

In [7]:
# Se Verifica la cantidad de registros y en cuantas columnas esta dividido
df2.shape

(25799, 3)

In [89]:
# Se hace una revision de los primeros valores cargados
df2.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [65]:
# Carga de datos desde un archivo JSON y crea un DataFrame en pandas

filas = []

with open('output_steam_games.json', encoding="utf8") as l:
    for linea in l.readlines():
        filas.append(linea)

df3= pd.DataFrame(filas)

In [20]:
# Se Verifica la cantidad de registros y en cuantas columnas esta dividido
df3.shape

(120445, 18)

In [66]:
# Se hace una revision de los primeros valores cargados
df3.head()

                                                   0
0  {"publisher": NaN, "genres": NaN, "app_name": ...
1  {"publisher": NaN, "genres": NaN, "app_name": ...
2  {"publisher": NaN, "genres": NaN, "app_name": ...
3  {"publisher": NaN, "genres": NaN, "app_name": ...
4  {"publisher": NaN, "genres": NaN, "app_name": ...

In [67]:
# Ya que los Datos vienen en una columna unica, se le asigna un nombre para una manipulacion mas comoda
df3.rename(columns={0 : 'raw'}, inplace=True)

In [68]:
# Se hace una purga de informacion redundante para la optimizacion del modelo
df3['raw'] = df3['raw'].replace({', "genres"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "app_name"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "title"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "url"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "release_date"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "tags"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "reviews_url"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "specs"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "price"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "early_access"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "id"':''}, regex=True)
df3['raw'] = df3['raw'].replace({', "developer"':''}, regex=True)

In [69]:
# Se procede a devidir las columnas por medio del caracter ':' creandose un total de 24 columnas
df3 = df3['raw'].str.split(':', expand= True)

In [70]:
# Se le asigna un nombre a todas las columnas para su manipulacion
df3.rename(columns={0 : 'dpr',1 : 'publisher',2 : 'genres',3 : 'app_name',4 : 'title',5 : 'url',
                    6 : 'release_date',7 : 'tags',8 : 'reviews_url',9 : 'specs',10 : 'price',11 : 'early_access',
                    12 : 'id',13 : 'PlaceHolder13',14 : 'PlaceHolder14',15 : 'PlaceHolder15',16 : 'PlaceHolder16',17 : 'PlaceHolder17',
                    18 : 'PlaceHolder18',19 : 'PlaceHolder19',20 : 'PlaceHolder20',21 : 'PlaceHolder21',22 : 'PlaceHolder22',23 : 'PlaceHolder23'}, inplace=True)

In [71]:
# Se elimina la primera columna que no aportaba ningun valor
df3 = df3.drop(['dpr'], axis=1)

In [72]:
# Se procede a unir nuevamente las columnas desde 'PlaceHolder13' a 'PlaceHolder23' de forma parcializada 
df3['PlaceHolder1'] = df3.PlaceHolder13.str.cat(df3.PlaceHolder14)
df3['PlaceHolder2'] = df3.PlaceHolder15.str.cat(df3.PlaceHolder16)
df3['PlaceHolder3'] = df3.PlaceHolder17.str.cat(df3.PlaceHolder18)
df3['PlaceHolder4'] = df3.PlaceHolder19.str.cat(df3.PlaceHolder20)
df3['PlaceHolder5'] = df3.PlaceHolder21.str.cat(df3.PlaceHolder22)

# Se eliminan las columnas que fueron unidas
df3 = df3.drop(['PlaceHolder13','PlaceHolder14','PlaceHolder15','PlaceHolder16','PlaceHolder17','PlaceHolder18','PlaceHolder19',
                'PlaceHolder20','PlaceHolder21','PlaceHolder22'], axis=1)

In [73]:
# Se unen las columnas en una segunda etapa
df3['PlaceHolder6'] = df3.PlaceHolder1.str.cat(df3.PlaceHolder2)
df3['PlaceHolder7'] = df3.PlaceHolder3.str.cat(df3.PlaceHolder4)
df3['PlaceHolder8'] = df3.PlaceHolder5.str.cat(df3.PlaceHolder23)

# Se eliminan columnas ya unidas
df3 = df3.drop(['PlaceHolder1','PlaceHolder2','PlaceHolder3','PlaceHolder4','PlaceHolder5','PlaceHolder23'], axis=1)

In [74]:
# Se unen columnas en una tercera etapa
df3['PlaceHolder9'] = df3.PlaceHolder6.str.cat(df3.PlaceHolder7)

# Se eliminan las columnas unidas
df3 = df3.drop(['PlaceHolder6','PlaceHolder7'], axis=1)

In [75]:
#Se unen las columnas en una ultima etapa bajo el nombre 'developer' 
df3['developer'] = df3.PlaceHolder8.str.cat(df3.PlaceHolder9)

#se eliminan las columnas ya unidas
df3 = df3.drop(['PlaceHolder8','PlaceHolder9'], axis=1)

In [76]:
#Se reemplazan los valores 'NaN' por None para una limpieza de datos
df3 = df3.replace({'NaN': None }, regex=True)

In [80]:
# Se eliminan las filas que la totalidas de sus columnas contengas None
df3 = df3.dropna(how='all')

In [83]:
# Se verifica la disminucion de volumen de datos
df3.shape

(32135, 13)

In [88]:
# Se almacena la informacion transformada a un archivo .parquet
df.to_parquet('../data/australian_users_items.parquet')

In [90]:
# Se almacena la informacion transformada a un archivo .parquet
df2.to_parquet('../data/australian_user_reviews.parquet')

In [84]:
# Se almacena la informacion transformada a un archivo .parquet
df3.to_parquet('../data/output_steam_games.parquet')